body{
  font-family: 'Crimson Text', serif;
  color: #3b5249;
  margin: 0 0 0 0;
  background-color: #e5e5e5;
}
footer{
  clear:both;
  margin-top: 16px;
  padding: 0 16px;
  text-align: center;
  background-color:#f1faee;

}
*{
  box-sizing: border-box;
}
h2{
  margin-top: 0px;
  padding-top: 10px;
}
img{
  vertical-align:middle;
  border-radius: 16px 16px 0 0;
}
i{
  margin-right:10px;
  font-size: x-large;
  color: #457b9d;
}
hr{
  margin-top: 20px;
  height:2px;
  border-width:0;
  color:gray;
  background-color:gray;
}
p{
  font-size: 16px;
}

.shadow{
   background-color:#f1faee;
   box-shadow:  6px 4px 4px 4px rgba(39, 50, 50, 0.7);
   border-radius:16px;
   padding-bottom: 10px;
}
.padding{
  padding-left: 10px;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
}

.Educationdetails{
  padding: 0 16px;
}
.leftColumn{
  float: left;
  width:33%;
  padding: 0 10px;
  margin-bottom: 2em;

}
.progressivebar{
  background-color:#f1f1f1;
  border-radius: 16px;
  color: #000;
  font-size:16px;
}
.progessivestatus{
  background-color: #009688;
  border-radius: 16px;
  color:#f1f1f1;
  text-align: center;
}
.profiledetails{
  padding: 0 16px;
  margin-bottom:32px;
}
.Pagecontainer{
  margin-top:16px;
  margin-left: auto;
  margin-right: auto;
}
.rightColumn{
  float: left;
  width:66.666%;
  padding: 0 8px;
}
.maincontainer{
  padding: 0 8px;
}
.fa {
  padding: 10px;
  font-size: 1px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
